.product {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    padding: 15px;
    background-color: #DAA520;
}

.product > div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.product > div button {
    margin: auto;
    margin-top: 10px;
}