.lawn-outside-details {
    display: flex;
    padding-top: 2em;
}

.lawn-set-interval{
    padding-top: 6em;
    display: flex;
    padding-left: 1.3em;
}

.lawn-buttons-div {
    padding-top: 6em;
    display: flex;
}

.lawn-buttons {
    width: 11.5em;
    margin-left: 1em;
    color: #eff8ff;
    border: 1px solid black;
    background-color: #637185;
    border-radius: 1em;
    padding: 1.5em 0.5em;
    font-size: 0.9em;
    font-weight: bold;
}

.lawn-buttons :focus {
    outline: none;
    border: none;
}

.lawn-button-set {
    width: 11.5em;
    margin-left: 12em;
    color: #eff8ff;
    border: 1px solid black;
    background-color: #637185;
    border-radius: 1em;
    padding: 1.5em 0.5em;
    font-size: 0.9em;
    font-weight: bold;
    position: fixed;
}

.lawn-button-set :focus {
    outline: none;
    border: none;
}

.lawn-modal {
    background-color:green;
    color: #eff8ff;
    text-align: justify;
}

.lawn-modal-error {
    background-color:red;
    color: #eff8ff;
    text-align: justify;
}