.choose-category-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.choose-category-container > p {
    font-size: 20px;
}

.choose-category-container  button {
    margin: auto;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 30px;
}

.categories > div {
    display: flex;
    height: 100px;
    width: 100px;
    background-color:#A9A9A9;
    margin-bottom: 20px;
    border-radius: 50%;
    margin: auto;
}

.categories > div.active {
    background-color: #228B22;
}



.categories > div  > span {
    margin: auto;
    font-size: 18px;
    color: #000;
}
