:root{
    --header:#424b58; /*header footer*/
    --background: #dddddd; /*background color*/
    --writing: #eff8ff;
    --buttons:#637185;
}

.btn-circle.btn-xl {
    width: 300px;
    height: 300px;
    padding: 10px 16px;
    border-radius: 50%;
    border: 10px solid black;
    font-size: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--header);
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer-add-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}
