.container-error {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
}

.container-error > h1 {
    color: red !important;
    font-size: 35px;
    margin: auto;
}

.container-error > h3 {
    margin: auto;
    font-size: 22px;
}