.loading-gif{
    margin-top: 7em;
    margin-left: 1.5em;
    height: 20em;
    width: 20em;
}

.done-text{
    width: 80%;
    margin-top: 8em;
    margin-left: 1.5em;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.done-text-error{
    width: 80%;
    margin-top: 8em;
    margin-left: 1.5em;
    text-align: center;
    font-weight: bold;
    font-size: large;
}