.main-container-timer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.main-container-timer > h3 {
    margin-left: 0;
    margin-bottom: 50px;
}

.timer-container {
    display: flex;
    margin: auto;
    margin-bottom: 45px;
}

.timer-controller {
    display: flex;
}

.arrow-box-timer {
    display: flex;
    flex-direction: column;
    font-size: 40px;
}



.time-box {
    height: fit-content;
    margin: auto;
    font-size: 45px;
}

.timer-container > span {
    height: fit-content;
    margin: auto;
    font-size: 45px;
}

.smarttub-buttons-timer {
    width: 11.5em;
    margin-left: 6.5em;
    margin-top: 2em;
    color:  #eff8ff;
    border: 1px solid black;
    background-color:#637185;
    border-radius: 1em;
    padding: 1em 0.5em;
    font-size: 0.9em;
    font-weight: bold;
}