.camera-front{
    height:12em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;

}
.button-left{
    width:7em;
    height: 2.5em;
    margin-left: 1em;
    margin-top: 1em;
}
.button-right{
    width:7em;
    height: 2.5em;
    margin-right: 1em;
    float:right;
    margin-top: 1em;
}
.alert-message{
    margin-top: 1.5em;
    background-color:#83c9af;
}
.input-field{
    background-color: #83c9af;
    font-weight: bolder;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
.error-button1 {
    width: 1em;
    height: 2em;
    outline: none;
    border: none;
    right:0;
    bottom: 18em;
    background-color: #dddddd;
}
.icon-zoom{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 0.5em;
    margin-left: 3em;
    color: black;
    display: inline-block;
}
.link-zoom{
    display: inline-block;
}