
.radio-checkbox-round-shopping-list {
    width: 1.3em;
    height: 1.3em;
    margin-right: 1em;
    margin-left: 0;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border: 2px solid black;
}

.radio-checkbox-round-shopping-list:checked {
    background-color: #637185;
}
.missing-item{
    color: #982649;
    font-weight: bolder;
}
.missing-card{
    background-color: #f5d6df;
}
.extra-info{
    color: dimgray;
    font-size: small;
    margin-left: 3em;
    margin-top: 0.3em;
}
.running-out-item{
    color: #854389;
    font-weight: bolder;
}
.running-out-card{
    background-color: #dbbadd;
}
.expire-item{
    color: #3c896d;
    font-weight: bolder;
}
.expire-card{
    background-color: #a6d8c6;
}
.in-stock-item{
    color: #0066ff;
    font-weight: bolder;
}
.in-stock-card{
    background-color: #99c2ff;
}
.send-order-button{
    position: fixed;
    bottom: 2.7em;
    right: 0;
    opacity: 0.8;
    background-color: #1a1a1a;
    color: white;
    font-weight: bolder;
    border-radius: 0.5em;
}
.send-order-text{
    margin: 1.1em;
}
.card-background{
    background-color: #dddddd;
}
.error-button1 {
    width: 5em;
    height: 2em;
    outline: none;
    border: none;
    right:7em;
    padding-bottom: 2.7em;
    bottom: 2.7em;
    position: fixed;
}
.padded-div{
    padding-bottom: 3em;
}